body {
    background-color: lavenderblush;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

img {
    height: 20px;
}

h3, h1 {
    background-color: inherit;
    color: #66bfbf;
}